.header {
  display: flex;
  align-items: center;

  &__toolbar {
    margin: 0 0 0 auto;
  }

  &__btn {
    margin: 0 0 0 15px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.category {
  margin: 40px 0 0;

  &__field {
    margin: 30px 0 0;

    &:first-child {
      margin-top: 0;
    }
  }
}
