.page {
    width: 794px;
    height: 1122px;
    padding: 45px 30px 30px;
    color: #313131;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    line-height: 1;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.header__store-info {
    width: 50%;
}

.header__store-name {
    margin: 0 0 7px;
    font-size: 16px;
}

.header__link {
    display: block;
    line-height: 1.4;
    color: #313131;
    text-decoration: none;
}

.header__link--phone {
    color: blue;
    text-decoration: underline;
}

.header__order-info {
    width: 50%;
    margin: 20px 0 0;
    line-height: 1.3;
}

.header__order-row {
    margin: 4px 0 0;
}

.header__value {
    font-weight: 700;
}

.address-methods {
    margin: 20px 0 0;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
}

.address-methods__title {
    margin: 0 0 10px;
    font-size: 16px;
    font-weight: 700;
}

.address {
    width: 50%;
}

.address__content {
    line-height: 1.3;
}

.methods {
    width: 50%;
}

.methods__method {
    margin: 10px 0 0;
}

.products {
    margin: 20px 0 0;
    width: 100%;
    text-align: center;
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
    border: 1px solid #808080;
}

.products th {
    font-weight: 700;
    border: 1px solid #808080;
}

.products__product:nth-child(2n) {
    background: #eee;
}

.products__name {
    text-align: left;
    padding: 6px 10px 6px;
    border: 1px solid #808080;
}

.products__qty {
    width: 80px;
    border: 1px solid #808080;
}

.products__price {
    width: 100px;
    border: 1px solid #808080;
}

.products__old-price {
    color:#808080;
    text-decoration:line-through;
}

.products__cost {
    width: 120px;
    border: 1px solid #808080;
}

.products__sku {
    margin: 6px 0 0;
}

.products__additional-service {
    margin: 4px 0 0;
    font-size: 12px;
}


.summary {
    margin: 15px 0 0;
    text-align: right;
}

.summary__row {
    margin: 10px 0 0;
    display: flex;
    justify-content: flex-end;
}

.summary__key {
    font-weight: 700;
}

.summary__value {
    width: 100px;
}

.summary__value--total {
    font-weight: 700;
}
